* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
} 

body {
    display:flex;
    justify-content: center;
    background-color: #181529;
}

#main-container {
    background-color: #000000;
    border: solid;
    border-top: none;
    border-radius: 0 0 5px 5px;
    border-color: white;
    border-width: 1px;
    color: white;
    padding: 20px;
    display:flex;
    flex-direction: row;
    width: 70%;
}

a {
    text-decoration: none;
    color: rgb(161, 218, 255);
}

#left-container {
    padding:5px;
    padding-right: 20px;
    width:50%;
    border-right: solid;
    border-width: 1px;
    border-color: white;
}

h2 {
    border-bottom:solid;
    border-width: 1px;
    padding: 5px;
}

p {
    padding: 5px;
    border-bottom: solid white 1px;
}

#right-container {
    padding:5px;
    padding-left: 20px;
    width:50%;
}

li {
    padding: 5px;
}

#ervaringen {
    padding: 5px;
    border-bottom: 1px white solid;
}

#kwaliteiten-valkuilen {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px white solid;
}

#kwaliteiten {
    width: 50%;
}

#valkuilen {
    width: 50%;
}

#ik {
    padding: 5px;
}